extends extenders/layout

block content

    header(class='Info' id='Sec')
        div(id='head')
            div(id='pageTitle')
                h1(id='title')= title
                    br
                    span(id='version')='1.0 Official'
                img(id='DashboardLogo' alt='Dashboard Logo' height='70px' width='70px' src='images/scrapdblogo.png')

            div(id='Logo')
                img(id='tfiLofo' alt='TfiLogo' src='images/tfi_logo_256.png')

        div(id='bldgButtons')
            button(id='AllPlantButton' class='button')= 'All Plants'
            button(id='plant1Button'   class='button')= 'Plant 1'
            button(id='plant2Button'   class='button')= 'Plant 2'
            button(id='hqButton'       class='button')= 'Plant 3'

        div(id='small_images')
            //img(src='images/note64x64.png' onclick='' height='32' width='32')
            img(src='images/zoom64x64.png' onclick='SelectYear()' height='32' width='32')
            img(src='images/help64x64.png' onclick='ChangeLog()' height='32' width='32')
    //End of Header

    //Start of Popup Windows
    div(id='Search' title='Years Change' class='HideOnStart')
        p(id='SearchTitle')= 'Please select how many years you want to go back.'
        div(id='NumSel')
            div(id="custom-handle" class="ui-slider-handle")
        button(id='SelectYear' class='HideOnStart')= 'Select'

    div(id='ChangeLog' title='Change Log' class='HideOnStart')
        p(class='CLTest')= '1.0 Official: Official Release! - :D YAY!!'
        p(class='CLTest')= '0.3 Alpha: UI Change, and blasted more bugs into space! '
        p(class='CLTest')= '0.2 Alpha: Speed and performance Increase, Bug fixes - Went from a BMW M2 to a Bugatti Chiron *VROOOMMMM*!!'
        p(class='CLTest')= '0.1 Alpha: Internal Release! - WhooT!!'
        button(id='ChangeLogClose' class='HideOnStart')= 'Thank you'
    //End of Windows
    //Start of Main
    main
        //Start of plant all
        div(class='Info' id='plantAll')
            ul
                li= 'All Plants'
            div(id='AllPlantDetails' class='PlantDiv')
                div(id='AllPlantChart' class='data')= 'All Plant Chart'
                //div(id='AllPlantCircleChart' class='data')= 'All Plant Circle Chart'
        //End of plant all

        //Start of plant one
        div(class='Info' id='plant1')
            ul
                li= 'All Plant 1'
                li= 'Ducts / Bin Seal'
                li= 'Tubes'
                li= 'Cover'
                li= 'Assembly'
                li= 'Space'
                li= 'Other'

            div(id='plantOneAllDetails' class='PlantDiv')
                div(id='plant1AllChart' class='data')= 'All Plant 1 Chart'
                //div(id='plant1AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneDuctDetails' class='PlantDiv')
                div(id='plant1DuctChart' class='data')= 'Ducts Chart'
                //div(id='plant1DuctCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneTubeDetails' class='PlantDiv')
                div(id='plant1TubeChart' class='data')= 'Tubes Chart'
                //div(id='plant1TubeCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneCoversDetails' class='PlantDiv')
                div(id='plant1CoversChart' class='data')= 'Covers Chart'
                //div(id='plant1CoversCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneAssemblyDetails' class='PlantDiv')
                div(id='plant1AssemblyChart' class='data')= 'Assembly Chart'
                //div(id='plant1AssemblyCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneSpaceDetails' class='PlantDiv')
                div(id='plant1SpaceChart' class='data')= 'Space Chart'
                //div(id='plant1SpaceCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneOtherDetails' class='PlantDiv')
                div(id='plant1OtherChart' class='data')= 'Other Chart'
                //div(id='plant1OtherCircleChart' class='data')= 'Circle Chart'
         //End plant one

        //Start of plant two
        div(class='Info' id='plant2')

            ul
                li= 'All Plant 2'
                li= 'Plenums'
                li= 'Flex Hose / Caps'
                li= 'Downers'

            div(id='plantTwoAllDetails' class='PlantDiv')
                div(id='plant2AllChart' class='data chart')= 'All Plant 2 Chart'
                //div(id='plant2AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwoPlenDetails' class='PlantDiv')
                div(id='plant2PlenChart' class='data chart')= 'Plenums Chart'
                //div(id='plant2PlenCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwo2FCDetails' class='PlantDiv')
                div(id='plant2FCChart' class='data chart')= 'Flex Hose / Caps Chart'
                //div(id='plant2FCCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwoDownDetails' class='PlantDiv')
                div(id='plant2DownChart' class='data chart')= 'Downers Chart'
                //div(id='plant2DownCircleChart' class='data')= 'Circle Chart'

        //End of plant two

        //Start of plant three
        div(class='Info' id='plant3')
            ul
                li= 'All Plant 3'
                li= 'P8'
                li= 'Primary Ops'
                li= 'Sleeves'
                li= '737 Windows'
                li= '787 Windows'
                li= 'BSI Windows'
                li= 'All Windows'

            div(id='plantThreeAllDetails' class='PlantDiv')
                div(id='plant3AllChart' class='data')= 'All Plant 3 Chart'
                //div(id='plant3AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeP8Details' class='PlantDiv')
                div(id='plant3P8Chart' class='data')= 'P8 Chart'
                //div(id='plant3P8CircleChart' class='data')= 'Circle Chart'

            div(id='plantThreePrimaryDetails' class='PlantDiv')
                div(id='plant3PrimaryChart' class='data')= 'Primary Ops chart'
                //div(id='plant3PrimaryCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeSleevesDetails' class='PlantDiv')
                div(id='plant3SleevesChart' class='data')= 'Sleeves chart'
                //div(id='plant3SleevesCircleChart' class='data')= 'Circle Chart'

            div(id='plantThree737WDetails' class='PlantDiv')
                div(id='plant3737WChart' class='data')= '737 Windows chart'
                //div(id='plant3737WCircleChart' class='data')= 'Circle Chart'

            div(id='plantThree787WDetails' class='PlantDiv')
                div(id='plant3787WChart' class='data')= '787 Windows chart'
                //div(id='plant3787WCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeBSIDetails' class='PlantDiv')
                div(id='plant3BSIChart' class='data')= 'BSI Windows chart'
                //div(id='plant3BSICircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeAllWindowsDetails' class='PlantDiv')
                div(id='plant3AllWindowsChart' class='data' )= 'All Windows chart'
                //div(id='plant3AllWindowsCircleChart' class='data')= 'Circle Chart'
        //End of plant three

        section(class='gird ')
            div(id='GridForEverything' class='data')
                div(id='GridLoader')
    //End of Main
    script(type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
    include ./JSCalls
    script(type='text/javascript').
        var timeOut = 5000;
        var async = false;
        var cache = true;
        var Year;
        var tabWidth = '100%';
        var tabHeight = 600;
        var today = new Date();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        var TodayDate;
        var currentDate;
        var prvYear = yyyy - 1;
        var prvYrs;
        var numberOfYearsAgo;
        var unitInterval;
        var lastYear;
        var YearsAgo;
        var MinDate;
        var MaxDate;
        var MinValueRange;

        switch(mm){
            case 1:
                TodayDate = '1' + '-' + 'Jan' + '-' + yyyy;
                break;
            case 2:
                TodayDate = '1' + '-' + 'Feb' + '-' + yyyy;
                break;
            case 3:
                TodayDate = '1' + '-' + 'Mar' + '-' + yyyy;
                break;
            case 4:
                TodayDate = '1' + '-' + 'Apr' + '-' + yyyy;
                break;
            case 5:
                TodayDate = '1' + '-' + 'May' + '-' + yyyy;
                break;
            case 6:
                TodayDate = '1' + '-' + 'Jun' + '-' + yyyy;
                break;
            case 7:
                TodayDate = '1' + '-' + 'Jul' + '-' + yyyy;
                break;
            case 8:
                TodayDate = '1' + '-' + 'Aug' + '-' + yyyy;
                break;
            case 9:
                TodayDate = '1' + '-' + 'Sep' + '-' + yyyy;
                break;
            case 10:
                TodayDate = '1' + '-' + 'Oct' + '-' + yyyy;
                break;
            case 11:
                TodayDate = '1' + '-' + 'Nov' + '-' + yyyy;
                break;
            case 12:
                TodayDate = '1' + '-' + 'Dec' + '-' + yyyy;
                break;
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        numberOfYearsAgo = $('#NumSel').slider( 'value');
        unitInterval = numberOfYearsAgo - 1;
        prvYrs = yyyy - numberOfYearsAgo;

        currentDate = mm + '/' + '01' + '/' + yyyy;
        lastYear = mm + '/' + '01' + '/' + prvYear;
        YearsAgo = '01/01' + '/' + prvYrs;

        MaxDate = currentDate;
        MinDate = lastYear;
        MinValueRange = YearsAgo;

        //console.log('Years Ago ' + numberOfYearsAgo);
        //console.log(currentDate);
        //console.log(lastYear);
        //console.log(MinDate);
        //console.log(MaxDate);
        //console.log(MinValueRange);
        //console.log(unitInterval);
        GridFetch();
        plantAllDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
        plantOneDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
        plantTwoDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
        plantThreeDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
        HideTabs();
        $('.data').jqxChart('refresh');
        $('#plantAll').show();
            //$('#AllPlantDetails').show();
        $('.HideOnStart').show();


        function WhenBodyLoad() {

            $('#plant1').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function (event) {
                //$('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
                var id = event.args.item;
                addfilter(TodayDate);
                console.log(TodayDate);
                var title = $('#plant1').jqxTabs('getTitleAt', id);
                console.log(title)
                switch(title){

                    case 'All Plant 1':
                        $('#GridForEverything').jqxGrid('removefilter', 'AccountNumber');
                        break;
                    case 'Ducts / Bin Seal':
                        AddFilterTabTwo('5010080000', '5010150000');
                        break;
                    case 'Tubes':
                        AddFilterTab('5010050000');
                        break;
                    case 'Cover':
                        AddFilterTab('5010040000');
                        break;
                    case 'Assembly':
                        AddFilterTabThree('5010820000', '5010200000', '5010010000');
                        break;
                    case 'Space':
                        AddFilterTab('5010300000');
                        break;
                    case 'Other':
                        AddFilterTabTwo('5010170000', '5010190000');
                        break;
                }
            });

            $('#plant2').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function (event) {
                //$('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
                addfilter(TodayDate);
                console.log(TodayDate);
                var id = event.args.item;
                var title = $('#plant2').jqxTabs('getTitleAt', id);
                console.log(title)
                switch (title) {

                    case 'All Plant 2':
                        $('#GridForEverything').jqxGrid('removefilter', 'AccountNumber');
                        break;
                    case 'Plenums':
                        AddFilterTab('5010120000');
                        break;
                    case 'Flex Hose / Caps':
                        AddFilterTab('5010130000');
                        break;
                    case 'Downers':
                        AddFilterTab('5010140000');
                        break;
                }
            });

            $('#plant3').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function (event) {
                //$('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
                addfilter(TodayDate);
                console.log(TodayDate);
                var id = event.args.item;
                var title = $('#plant3').jqxTabs('getTitleAt', id);
                console.log(title)
                switch (title) {

                    case 'All Plant 3':
                        $('#GridForEverything').jqxGrid('removefilter', 'AccountNumber');
                        break;
                    case 'P8':
                       AddFilterTab('5010110000');
                        break;
                    case 'Primary Ops':
                        AddFilterTabFour('5010020000','5010240000', '5010210000', '5010220000');
                        break;
                    case 'Sleeves':
                        AddFilterTab('5010060000');
                        break;
                    case '737 Windows':
                        AddFilterTab('5010070000');
                        break;
                    case '787 Windows':
                        AddFilterTab('5010090000');
                        break;
                    case 'BSI Windows':
                        AddFilterTab('5010180000');
                        break;
                    case 'All Windows':
                        AddFilterTabThree('5010070000', '5010090000', '5010180000');
                        break;
                }
            });

            $('#plantAll').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function () {
                $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
                addfilter(TodayDate);
            });

            $('#GridLoader').jqxLoader({
                width: 100,
                height: 60,
                imagePosition: 'top',
                autoOpen: true,
                text: 'Loading Grid...'
            });
        }

        function onChartClick(e) {
            var id = e.elementIndex;
            console.log(id);
            var thisYear;
            var thisDate;
            //*sigh* 20 years will fly by
            if (id >= 0 && id <= 12) {
                thisYear = 2015;
            }else if(id >= 13 && id <= 24){
                thisYear = 2016;
            }else if(id >= 25 && id <= 36){
                thisYear = 2017;
            }else if(id >= 37 && id <= 48){
                thisYear = 2018;
            }else if(id >= 49 && id <= 60){
                thisYear = 2019;
            }else if(id >= 61 && id <= 72){
                thisYear = 2020;
            }else if(id >= 73 && id <= 84){
                thisYear = 2021;
            }else if(id >= 85 && id <= 96){
                thisYear = 2022;
            }else if(id >= 97 && id <= 108){
                thisYear = 2023;
            }else if(id >= 109 && id <= 120){
                thisYear = 2024;
            }else if(id >= 121 && id <= 132){
                thisYear = 2025;
            }else if(id >= 133 && id <= 144){
                thisYear = 2026;
            }else if(id >= 145 && id <= 156){
                thisYear = 2027;
            }else if(id >= 157 && id <= 168){
                thisYear = 2028;
            }else if(id >= 169 && id <= 180){
                thisYear = 2029;
            }else if(id >= 181 && id <= 192){
                thisYear = 2030;
            }else if(id >= 193 && id <= 204){
                thisYear = 2031;
            }else if(id >= 205 && id <= 216){
                thisYear = 2032;
            }else if(id >= 217 && id <= 228){
                thisYear = 2033;
            }else if(id >= 229 && id <= 240){
                thisYear = 2034;
            }else if(id >= 241 && id <= 252){
                thisYear = 2035;
            }
            var newId = id % 12;
            var PrevYear = parseInt(thisYear);

            console.log(newId);
            switch (newId) {

                case 0:
                    thisDate = '1-Dec-' + PrevYear;
                    winLimided();
                    break;
                case 1:
                    thisDate = '1-Jan-' + thisYear;
                    winLimided();
                    break;
                case 2:
                    thisDate = '1-Feb-' + thisYear;
                    winLimided();
                    break;
                case 3:
                    thisDate = '1-Mar-' + thisYear;
                    break;
                case 4:
                    thisDate = '1-Apr-' + thisYear;
                    break;
                case 5:
                    thisDate = '1-May-' + thisYear;
                    break;
                case 6:
                    thisDate = '1-Jun-' + thisYear;
                    break;
                case 7:
                    thisDate = '1-Jul-' + thisYear;
                    break;
                case 8:
                    thisDate = '1-Aug-' + thisYear;
                    break;
                case 9:
                    thisDate = '1-Sep-' + thisYear;
                    fallLimited();
                    break;
                case 10:
                    thisDate = '1-Oct-' + thisYear;
                    fallLimited();
                    break;
                case 11:
                    thisDate = '1-Nov-' + thisYear;
                    fallLimited();
                    break;
            }

            console.log(thisDate);
            addfilter(thisDate);
        }

        function addfilter (Date) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = Date;
            var filtercondition = 'equal';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'MonthDate', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function AddFilterTab(AccountNumber) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = AccountNumber;
            var filtercondition = 'equal';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'AccountNumber', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function AddFilterTabTwo(AccountNumberOne, AccountNumberTwo) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalueOne = AccountNumberOne;
            var filtervalueTwo = AccountNumberTwo;
            var filtercondition = 'equal';
            var filter1 = filtergroup.createfilter('stringfilter', filtervalueOne, filtercondition);
            var filter2 = filtergroup.createfilter('stringfilter', filtervalueTwo, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter1);
            filtergroup.addfilter(filter_or_operator, filter2);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'AccountNumber', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function AddFilterTabThree(AccountNumberOne, AccountNumberTwo, AccountNumberThree) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalueOne = AccountNumberOne;
            var filtervalueTwo = AccountNumberTwo;
            var filtervalueThree = AccountNumberThree;
            var filtercondition = 'equal';
            var filter1 = filtergroup.createfilter('stringfilter', filtervalueOne, filtercondition);
            var filter2 = filtergroup.createfilter('stringfilter', filtervalueTwo, filtercondition);
            var filter3 = filtergroup.createfilter('stringfilter', filtervalueThree, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter1);
            filtergroup.addfilter(filter_or_operator, filter2);
            filtergroup.addfilter(filter_or_operator, filter3);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'AccountNumber', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function AddFilterTabFour(AccountNumberOne, AccountNumberTwo, AccountNumberThree, AccountNumberFour) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalueOne = AccountNumberOne;
            var filtervalueTwo = AccountNumberTwo;
            var filtervalueThree = AccountNumberThree;
            var filtervalueFour = AccountNumberFour;
            var filtercondition = 'equal';
            var filter1 = filtergroup.createfilter('stringfilter', filtervalueOne, filtercondition);
            var filter2 = filtergroup.createfilter('stringfilter', filtervalueTwo, filtercondition);
            var filter3 = filtergroup.createfilter('stringfilter', filtervalueThree, filtercondition);
            var filter4 = filtergroup.createfilter('stringfilter', filtervalueFour, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter1);
            filtergroup.addfilter(filter_or_operator, filter2);
            filtergroup.addfilter(filter_or_operator, filter3);
            filtergroup.addfilter(filter_or_operator, filter4);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'AccountNumber', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function SelectYear() {
            $('#Search').dialog('open');
        }

        function ChangeLog() {
            $('#ChangeLog').dialog('open');
        }

        $('#ChangeLogClose').click(function () {
            $('#ChangeLog').dialog('close');
        })

        $('#SelectYear').click( function () {
            numberOfYearsAgo = $('#NumSel').slider( 'value');
            $('#Search').dialog('close');
            unitInterval = numberOfYearsAgo - 1;
            prvYrs = yyyy - numberOfYearsAgo;

            currentDate = mm + '/' + '01' + '/' + yyyy;
            lastYear = mm + '/' + '01' + '/' + prvYear;
            YearsAgo = '01/01' + '/' + prvYrs;

            MaxDate = currentDate;
            MinDate = lastYear;
            MinValueRange = YearsAgo;
            plantAllDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
            plantOneDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
            plantTwoDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
            plantThreeDataFetch(unitInterval, MinValueRange, MinDate, MaxDate);
            //plantFourDataFetch(Year);
            $('.data').jqxChart('refresh');
        });

        function GridFetch() {

            $.ajax({//Get All Grid
                type: 'GET',
                url: '/GridFetch',
                async: true,
                cache: cache,
                dataType: 'json',
                success: function (data1) {
                    gridData = data1
                    Grid(gridData)
                    $('#GridLoader').jqxLoader('close');
                    addfilter(TodayDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }

        function plantAllDataFetch (unitInterval, MinValueRange, MinDate, MaxDate) {
            $.ajax({// Get All Chart
                type: 'GET',
                url: '/plantAllFetch',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantAllDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantOneDataFetch(unitInterval, MinValueRange, MinDate, MaxDate){

            $.ajax({// Get All
                type: 'GET',
                url: '/plantOneFetch/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneAllDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Duct
                type: 'GET',
                url: '/plantOneFetch/Duct',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneDuctDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Duct Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Tubes
                type: 'GET',
                url: '/plantOneFetch/Tubes',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneTubeDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Tubes Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });


            $.ajax({// Get Covers
                type: 'GET',
                url: '/plantOneFetch/Covers',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneCoversDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Covers Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Assembly
                type: 'GET',
                url: '/plantOneFetch/Assembly',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneAssemblyDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Assembly Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Space
                type: 'GET',
                url: '/plantOneFetch/Space',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneSpaceDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Space Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Other
                type: 'GET',
                url: '/plantOneFetch/Other',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneOtherDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Other Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantTwoDataFetch(unitInterval, MinValueRange, MinDate, MaxDate) {

            $.ajax({// Get All
                type: 'GET',
                url: '/plantTwoFetch/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoAllDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Plenums
                type: 'GET',
                url: '/plantTwoFetch/Plenums',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoPlenumsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Plenums Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Flex Hose Caps
                type: 'GET',
                url: '/plantTwoFetch/FlexHCaps',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoFlexHoseCapsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Flex Hose Caps Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Downers
                type: 'GET',
                url: '/plantTwoFetch/Downers',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoDownersDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Downers Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantThreeDataFetch(unitInterval, MinValueRange, MinDate, MaxDate) {

            $.ajax({// Get All
                type: 'GET',
                url: '/plantThreeFetch/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeAllDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get P8
                type: 'GET',
                url: '/plantThreeFetch/P8',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeP8Details(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three P8 Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Primary Ops
                type: 'GET',
                url: '/plantThreeFetch/PrimaryOps',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreePrimaryOpsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three Primary Ops Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Sleeves
                type: 'GET',
                url: '/plantThreeFetch/Sleeves',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeSleevesDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three Sleeves Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get 737 Windows
                type: 'GET',
                url: '/plantThreeFetch/Windows737',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThree737WindowsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three 737 Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get 787 Windows
                type: 'GET',
                url: '/plantThreeFetch/Windows787',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThree787WindowsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three 787 Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get BSI Windows
                type: 'GET',
                url: '/plantThreeFetch/BSIWindows',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeBSIWindowsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three BSI Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get All Windows
                type: 'GET',
                url: '/plantThreeFetch/AllWindows',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeAllWindowsDetails(data, unitInterval, MinValueRange, MinDate, MaxDate);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three All Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }

        $('.PlantDiv').click(function () {
            $('.data').jqxChart('refresh');
        })



