extends extenders/layout

block content

    header(class='Info')
        div(id='head')
            div(id='pageTitle')
                h1= title
                    br
                    span(id='version')='0.1 Alpha'
                img(id='DashboardLogo' alt='Dashboard Logo' height='70px' width='70px' src='images/scrapdblogo.png')

            div(id='Logo')
                img(id='tfiLofo' alt='TfiLogo' src='images/tfi_logo_256.png')

        div(id='bldgButtons')
            button(id='AllPlantButton' class='button')= 'All Plants'
            button(id='plant1Button'   class='button')= 'Plant 1'
            button(id='plant2Button'   class='button')= 'Plant 2'
            button(id='hqButton'       class='button')= 'Plant 3'

        div(id='small_images')
            img(src='images/note64x64.png' onclick='findReportNoteWindow()' height='32' width='32')
            img(src='images/zoom64x64.png' onclick='SelectYear()' rel='model:open' height='32' width='32')
            img(src='images/help64x64.png' onclick='helpWindow()' height='32' width='32')
    //End of Header

    //Start of Windows
    div(id='Search' title='Please Select a Year' class='HideOnStart')
        select(id="Years")
            option(value='2017')= '2017'
            option(value='2016')= '2016'
            option(value='2015')= '2015'
            option(value='2014')= '2014'
        button(id='SelectYear' class='HideOnStart')= 'Select'

    //End of Windows
    //Start of Main
    main
        //Start of plant all
        div(class='Info' id='plantAll')
            ul
                li= 'All Plants'
            div(id='AllPlantDetails' class='PlantDiv')
                div(id='AllPlantChart' class='data')= 'All Plant Chart'
                //div(id='AllPlantCircleChart' class='data')= 'All Plant Circle Chart'
        //End of plant all

        //Start of plant one
        div(class='Info' id='plant1')
            ul
                li= 'All Plant 1'
                li= 'Ducts/ Bin Seal'
                li= 'Tubes'
                li= 'Cover'
                li= 'Assembly'
                li= 'Other'

            div(id='plantOneAllDetails' class='PlantDiv')
                div(id='plant1AllChart' class='data')= 'All Plant 1 Chart'
                //div(id='plant1AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneDuctDetails' class='PlantDiv')
                div(id='plant1DuctChart' class='data')= 'Ducts Chart'
                //div(id='plant1DuctCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneTubeDetails' class='PlantDiv')
                div(id='plant1TubeChart' class='data')= 'Tubes Chart'
                //div(id='plant1TubeCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneCoversDetails' class='PlantDiv')
                div(id='plant1CoversChart' class='data')= 'Covers Chart'
                //div(id='plant1CoversCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneAssemblyDetails' class='PlantDiv')
                div(id='plant1AssemblyChart' class='data')= 'Assembly Chart'
                //div(id='plant1AssemblyCircleChart' class='data')= 'Circle Chart'

            div(id='plantOneOtherDetails' class='PlantDiv')
                div(id='plant1OtherChart' class='data')= 'Other Chart'
                //div(id='plant1OtherCircleChart' class='data')= 'Circle Chart'
         //End plant one

        //Start of plant two
        div(class='Info' id='plant2')

            ul
                li= 'All Plant 2'
                li= 'Plenums'
                li= 'Flex Hose / Caps'
                li= 'Downers'

            div(id='plantTwoAllDetails' class='PlantDiv')
                div(id='plant2AllChart' class='data chart')= 'All Plant 2 Chart'
                //div(id='plant2AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwoPlenDetails' class='PlantDiv')
                div(id='plant2PlenChart' class='data chart')= 'Plenums Chart'
                //div(id='plant2PlenCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwo2FCDetails' class='PlantDiv')
                div(id='plant2FCChart' class='data chart')= 'Flex Hose / Caps Chart'
                //div(id='plant2FCCircleChart' class='data')= 'Circle Chart'

            div(id='plantTwoDownDetails' class='PlantDiv')
                div(id='plant2DownChart' class='data chart')= 'Downers Chart'
                //div(id='plant2DownCircleChart' class='data')= 'Circle Chart'

        //End of plant two

        //Start of plant three
        div(class='Info' id='plant3')
            ul
                li= 'All Plant 3'
                li= 'P8'
                li= 'Primary Ops'
                li= 'Sleeves'
                li= '737 Windows'
                li= '787 Windows'
                li= 'BSI Windows'
                li= 'All Windows'

            div(id='plantThreeAllDetails' class='PlantDiv')
                div(id='plant3AllChart' class='data')= 'All Plant 3 Chart'
                //div(id='plant3AllCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeP8Details' class='PlantDiv')
                div(id='plant3P8Chart' class='data')= 'P8 Chart'
                //div(id='plant3P8CircleChart' class='data')= 'Circle Chart'

            div(id='plantThreePrimaryDetails' class='PlantDiv')
                div(id='plant3PrimaryChart' class='data')= 'Primary Ops chart'
                //div(id='plant3PrimaryCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeSleevesDetails' class='PlantDiv')
                div(id='plant3SleevesChart' class='data')= 'Sleeves chart'
                //div(id='plant3SleevesCircleChart' class='data')= 'Circle Chart'

            div(id='plantThree737WDetails' class='PlantDiv')
                div(id='plant3737WChart' class='data')= '737 Windows chart'
                //div(id='plant3737WCircleChart' class='data')= 'Circle Chart'

            div(id='plantThree787WDetails' class='PlantDiv')
                div(id='plant3787WChart' class='data')= '787 Windows chart'
                //div(id='plant3787WCircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeBSIDetails' class='PlantDiv')
                div(id='plant3BSIChart' class='data')= 'BSI Windows chart'
                //div(id='plant3BSICircleChart' class='data')= 'Circle Chart'

            div(id='plantThreeAllWindowsDetails' class='PlantDiv')
                div(id='plant3AllWindowsChart' class='data' )= 'All Windows chart'
                //div(id='plant3AllWindowsCircleChart' class='data')= 'Circle Chart'
        //End of plant three

        section(class='gird')
            div(id='GridForEverything' class='data')
    //End of Main

    include ./JSCalls
    script(type='text/javascript').
        var DateForGrid;
        var timeOut = 5000;
        var async = false;
        var cache = true;
        var Year;
        var tabWidth = 1890;
        var tabHeight = 600;

        Year = $('#Years').val();
        console.log('Year: ' + Year);
        GridFetch(Year);
        plantAllDataFetch(Year);
        plantOneDataFetch(Year);
        plantTwoDataFetch(Year);
        plantThreeDataFetch(Year);
        HideTabs();
        $('.data').jqxChart('refresh');
        $('#plantAll').show();
            //$('#AllPlantDetails').show();
        $('.HideOnStart').show();



        function WhenBodyLoad() {

            $('#plant1').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function () {
                $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
            });

            $('#plant2').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function () {
                $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
            });

            $('#plant3').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function () {
                $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
            });

            $('#plantAll').jqxTabs({
                width: tabWidth,
                height: tabHeight,
                position: 'top',
                animationType: 'fade',
                selectionTracker: true,
                reorder: false
            }).on('tabclick', function () {
                $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
                $('.data').jqxChart('refresh');
            });

        }

        function onChartClick(e) {
            $('#GridForEverything').jqxGrid('removefilter', 'MonthDate');
            console.log("chart clicked");
            var currProj = $('.jqx-chart-tooltip-text').text();
            //console.log(currProj);
            var pos = currProj.indexOf("EndingBalance:");
            //console.log(pos);
            currProj = currProj.substring(6, pos);
            console.log(currProj);
            DateForGrid = currProj;
            addfilter(DateForGrid);
        }

        function addfilter (Date) {
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = Date;
            var filtercondition = 'equal';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
            filtergroup.addfilter(filter_or_operator, filter);
            // add the filters.
            $("#GridForEverything").jqxGrid('addfilter', 'MonthDate', filtergroup);
            // apply the filters.
            $("#GridForEverything").jqxGrid('applyfilters');
        }

        function SelectYear() {
            $('#Search').dialog('open');
        }

        $('#SelectYear').click( function () {
            Year = $('#Years').val();
            console.log('New Year ' + Year);
            $('#Search').dialog('close');
            GridFetch(Year);
            plantAllDataFetch(Year);
            plantOneDataFetch(Year);
            plantTwoDataFetch(Year);
            plantThreeDataFetch(Year);
            //plantFourDataFetch(Year);
            $('.data').jqxChart('refresh');
        });

        function GridFetch(Year) {

            $.ajax({//Get All Grid
                type: 'GET',
                url: '/GridFetch/' + Year,
                async: true,
                cache: cache,
                dataType: 'json',
                success: function (data1) {
                    gridData = data1
                    Grid(gridData)
                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }


        function plantAllDataFetch (Year) {
            $.ajax({// Get All Chart
                type: 'GET',
                url: '/plantAllFetch/' + Year + '/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantAllDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantOneDataFetch(Year){

            $.ajax({// Get Duct
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Duct',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneDuctDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Duct Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Tubes
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Tubes',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneTubeDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Tubes Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });


            $.ajax({// Get Covers
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Covers',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneCoversDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Covers Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Assembly
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Assembly',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneAssemblyDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Assembly Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Other
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/Other',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneOtherDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One Other Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get All
                type: 'GET',
                url: '/plantOneFetch/' + Year + '/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantOneAllDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant One All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });
        }

        function plantTwoDataFetch() {

            $.ajax({// Get All
                type: 'GET',
                url: '/plantTwoFetch/' + Year + '/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoAllDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Plenums
                type: 'GET',
                url: '/plantTwoFetch/' + Year + '/Plenums',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoPlenumsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Plenums Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Flex Hose Caps
                type: 'GET',
                url: '/plantTwoFetch/' + Year + '/FlexHCaps',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoFlexHoseCapsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Flex Hose Caps Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Downers
                type: 'GET',
                url: '/plantTwoFetch/' + Year + '/Downers',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantTwoDownersDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Two Downers Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        function plantThreeDataFetch() {

            $.ajax({// Get All
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/All',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeAllDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three All Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get P8
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/P8',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeP8Details(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three P8 Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Primary Ops
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/PrimaryOps',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreePrimaryOpsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three Primary Ops Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get Sleeves
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/Sleeves',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeSleevesDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three Sleeves Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get 737 Windows
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/Windows737',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThree737WindowsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three 737 Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get 787 Windows
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/Windows787',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThree787WindowsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three 787 Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get BSI Windows
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/BSIWindows',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeBSIWindowsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three BSI Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

            $.ajax({// Get All Windows
                type: 'GET',
                url: '/plantThreeFetch/' + Year + '/AllWindows',
                dataType: 'json',
                async: async,
                cache: cache,
                timeout: timeOut,
                success: function (data) {
                    PlantThreeAllWindowsDetails(data);
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Plant Three All Windows Error:')
                    console.log(xhr);
                    console.log(status);
                    console.log(errorThrown);
                }
            });

        }

        $('.PlantDiv').click(function () {
            $('.data').jqxChart('refresh');
        })



